.BuyNow {
    border-radius: 50px;
    width: 120px;
}

.OfferText {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.GirlImage {
    margin-right: 150px;
} */

.Offer {
    width: 100%;
}

#container {
    display: flex;
    margin: 2vmax auto;
    margin-top: 0.1vmax;
    width: 80vmax;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}